.lista-compra {
    width: 80%;
    margin: 0 auto;
  }

  .MuiPaper-root{
    margin: 0.5rem;
  }

  .MuiCardMedia-root{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: #252525;
    display: block;
  }

  .tarjetaJugador{
    grid-column: 3/9;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1/10;
    grid-row: 1/5;
    justify-content: center;
    align-items: center;
  }

  .titulo{
    text-align: center;
    grid-column: 5;
    grid-row: 1;
  }

.home div .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

div .card{
    display: flex;
    flex-direction: column;
}

.tarjetaHome{
    text-align: center;
}

.tarjetaHome img{
    width: 15rem;
}

  .boton{
    background-color: white;
  }

  .cargarMas{
    background-color: white;
  }
  
  .item-compra {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .item-compra p {
    flex: 1;
    margin: 0;
  }
  
  .item-compra input {
    width: 50px;
    margin-right: 10px;
  }
  
  .item-compra button {
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .item-compra button:hover {
    background-color: #ff1744;
  }